# Supported browsers
# https://github.com/ai/browserslist

###############
## SUPPORTED ##
###############

## DESKTOP

# Google Chrome
Chrome >= 56

# Internet Explorer
Explorer >= 11

# Microsoft Edge
Edge >= 16

# Mozilla Firefox
Firefox >= 51

# Opera
Opera >= 43

# Safari
Safari >= 10.1

## MOBILE

# Chrome for Android
ChromeAndroid >= 64

# Firefox for Android
FirefoxAndroid >= 57

# iOS Safari
iOS >= 10.3

###################
## NOT SUPPORTED ##
###################

# Android WebView
# Android >= 4.4.4

# Baidu
# Baidu >= 7.12

# Blackberry browser
# BlackBerry >= 10

# Internet Explorer Mobile
# ExplorerMobile >= 11

# Opera Mini
# OperaMini all

# Opera Mobile
# OperaMobile >= 12.1

# QQAndroid
# QQAndroid >= 1.2

# Samsung Internet
# Samsung >= 4

# UC Browser for Android
# UCAndroid >= 11.4
