# Logs
logs
*.log

# Dependency directories
node_modules

# Build assets
build/*
!build/.keep

# Office temp files
~$*

# IDE config
.vscode

# Analyzer files
report.html
stats.json

# Mac
.DS_Store

# Coverage report
coverage
