# Logs
logs
*.log

# Temp files
temp
.history

# Dependency directories
node_modules

# Build assets
build/*
!build/.keep
dist

# Office temp files
~$*

# IDE config
.vscode
.idea

# Analyzer files
report.html
stats.json

# Build files
front
build
lib

# Zip files
*.zip

# Mac
.DS_Store

# Coverage report
coverage

# Secrets
secret

# Yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# Husky
.husky/_/

# Playwright
test-results

# ESlint
.eslintcache
eslint.config.bundled*

# Emskaffolden
*.compiled.yaml
*.local.yaml
*.local.in.yaml

#dotenv
.env.development
