files:
  # Elastic Beanstalk recreates the default configuration during every configuration deployment
  "/opt/elasticbeanstalk/hooks/configdeploy/post/99_kill_default_nginx.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash -xe
      rm -f /etc/nginx/conf.d/00_elastic_beanstalk_proxy.conf
      service nginx stop
      service nginx start
