# Make a copy of this file and rename it .env.development

URL=http://localhost:8000
KOMPASSI_BASE_URL=https://dev.kompassi.eu

# Get KOMPASSI_CLIENT_ values from https://dev.kompassi.eu/admin/oauth2_provider/application/1/change/
# dev.kompassi.eu admin rigts required
KOMPASSI_CLIENT_ID=
KOMPASSI_CLIENT_SECRET=
