# Logs
logs
*.log

# Temp files
temp

# Dependency directories
node_modules

# Office temp files
~$*

# IDE config
.vscode

# Transpiled files
lib

# Front end files
front

# Zip files
*.zip

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Mac
.DS_Store

# Coverage report
coverage

# Secrets
secret
